#titleId {
    font-family: GT Walsheim, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    display: block;
    height: auto;
    width: 100%;
    letter-spacing: 4px;
}

.btn {
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
#homeBtn {
    margin-left: 150px;
}
#loginBtn {
    margin-left: 1100px;
}

.container-fluid {
    margin: 0%;
    position: relative;

    object-fit: cover;
    padding: 0%;
}
.container-fluid img {
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.container-fluid .btn {
    position: absolute;
    margin-top: 310px;
    left: 45%;
    background-color: white;
    font-family: GT Walsheim, sans-serif;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    padding: 5px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border: none;
    color: #07575b;
}
.container-fluid .btn:hover {
    background-color: #66a5ad;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
