<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/login.css" />
  </head>

  <body id="bodyId">
    <form id="formId">
      <fieldset id="fieldsetId">
        <legend id="legendId">Login</legend>
        <div class="form-group">
          <label for="exampleInputEmail1" id="emailId">Email address</label>
          <div>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="admin@ojvar.dev"
            />
          </div>

          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" id="passwordId">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="@ojvar"
          />
        </div>
        <div class="form-check" id="rememberId">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Remember me</label
          >
        </div>

        <div>
          <p id="forgetId"><a href="">Forget password? </a></p>
        </div>

        <div><button id="loginId">Login</button></div>
      </fieldset>
    </form>

    <p id="demo"></p>
    <p id="timeId" onclick="clearInterval(myTimer)"></p>

    <script
      type="text/javascript"
      src="../scripts/bootstrap/bootstrap.min.js"
    ></script>
    <script type="text/javascript" src="../scripts/login.js"></script>
  </body>
</html>
