doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href=Helper.mix("chunks/bootstrap.css"))
        link(rel="stylesheet", href=Helper.mix("styles/layout/base.css"))
        script(src=Helper.mix("chunks/vendors.js"))
        script(src=Helper.mix("scripts/pages/home/index.js"))
    html
        head
        body.d-flex.flex-column.h-100
            // Begin page content
            main.flex-shrink-0
                .container
                    h1.mt-5 Sticky footer
                    p.lead
                        | Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
                    p
                        | Use 
                        a(href='/docs/5.0/examples/sticky-footer-navbar/') the sticky footer with a fixed navbar
                        |  if need be, too.
            footer.footer.mt-auto.py-3.bg-light
                .container
                    span.text-muted Place sticky footer content here.
